<!DOCTYPE html>
<html lang="hu">

  <head>
    <link rel='stylesheet' href='/bootstrap-datepicker.css'/>
    <link rel='stylesheet' href='/bootstrap.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
    <script src='/jquery.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="/style.css">
    <script src="/script.js"></script>
    
    <title>Sportközpont pályafoglaló</title>
  </head>
  
  <body>
    {{> navbar}}
    {{> statusbar}}
    {{{ body }}}
  </body>

</html>
