<div class='middle top-space'>
  <div class='login-form'>
    <h3>Bejelentkezés</h3>
    <form action='/submit-form/login' method='post' id='login-form'>
      <div class='form-row'>
        <input type='text' name='felhasznalonev' placeholder='Felhasználónév' required />
      </div>
      <div class='form-row'>
        <input type='password' name='jelszo' placeholder='Jelszó' required />
      </div>
      <button type='submit' class='form-row'>Bejelentkezés</button>
    </form>
    <p>Nincs fiókja? <a href='/register'>Regisztráció</a></p>
  </div>
</div>